GCP_PROJECT_NUMBER=557331495424
GCP_SERVICE_ACCOUNT_EMAIL=heart-town-report-uploader@xny-realtime-dashboard.iam.gserviceaccount.com
GCP_WORKLOAD_IDENTITY_POOL_ID=vercel-heart-town-reports
GCP_WORKLOAD_IDENTITY_POOL_PROVIDER_ID=vercel-heart-town-production
GOOGLE_SHEET_ID=1dCQmBErMhSXriigbgKQma1dQ2q7qNAo2AUTWiFv_AsQ
GOOGLE_DRIVE_REPORT_FOLDER_ID=1wlncYl_4dTiHCHuowhiSHYKyQ40vTvgo
